<div class="cart-item-card">
  <div class="item-product">
    <img [src]="imageUrl" [alt]="item.productName" class="item-image" [routerLink]="['/products', item.productId]">
    <h3 [routerLink]="['/products', item.productId]">{{ item.productName }}</h3>
  </div>

  <p class="item-price">&#8377;{{ item.price | number:'1.2-2' }}</p>

  <div class="quantity-controls">
    <button class="btn-qty" (click)="decreaseQuantity()">-</button>
    <span>{{ item.quantity }}</span>
    <button class="btn-qty" (click)="increaseQuantity()">+</button>
  </div>

  <p class="item-subtotal">&#8377;{{ item.subtotal | number:'1.2-2' }}</p>

  <button class="btn-remove" (click)="removeItem()" title="Remove Item">
    🗑️
  </button>
</div>
